---
import Layout from '../layouts/layout.astro'
import Hero from '../components/hero.astro'
import ImageCards from '../components/imagecards.astro'
import ArticleList from '../components/articlelist.astro'
import CTAForm from '../components/ctaform.astro'
import Work from '../components/work.astro'

const title = 'Chris Tham - Personal Web Site'
const description = 'artist, consultant, cyclist, designer, musician, photographer, world traveller'
---

<Layout {title} {description} home={true}>
  <Hero />
  <ImageCards />
  <div class="mt-24 sm:px-8 md:mt-28">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
            <ArticleList />
            <div class="space-y-10 lg:pl-16 xl:pl-24">
              <CTAForm />
              <Work />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
