---
import Layout from '../layouts/layout.astro'
import Hero from '../components/hero.astro'
import ImageCards from '../components/imagecards.astro'
import ArticleList from '../components/articlelist.astro'
import CTAForm from '../components/ctaform.astro'
import Work from '../components/work.astro'

const title = 'Chris Tham - Personal Web Site'
const description = 'artist, consultant, cyclist, designer, musician, photographer, world traveller'
---

<Layout {title} {description} home={true}>
  <Hero />
  <ImageCards />
  <div class='mt-24 md:mt-28 sm:px-8'>
    <div class='mx-auto max-w-7xl lg:px-8'>
      <div class='relative px-4 lg:px-12 sm:px-8'>
        <div class='mx-auto max-w-2xl lg:max-w-5xl'>
          <div class='grid grid-cols-1 mx-auto max-w-xl gap-y-20 lg:grid-cols-2 lg:max-w-none'>
            <ArticleList />
            <div class='space-y-10 lg:pl-16 xl:pl-24'>
              <CTAForm />
              <Work />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
