---

---

<form action='/thank-you' class='p-6 card rounded-2xl'>
  <h2 class='text-sm text-accent font-semibold font-serif flex'>
    <svg
      viewBox='0 0 24 24'
      fill='none'
      stroke-width='1.5'
      stroke-linecap='round'
      stroke-linejoin='round'
      aria-hidden='true'
      class='flex-none h-6 w-6'
      ><path
        d='M2.75 7.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z'
        class='fill-barelyPink stroke-secondary dark:fill-barelyPink/10'></path><path
        d='m4 6 6.024 5.479a2.915 2.915 0 0 0 3.952 0L20 6'
        class='stroke-secondary'></path></svg
    ><span class='ml-3'>Stay up to date</span>
  </h2>
  <p class='text-sm text-secondary mt-2'>
    Get notified when I publish something new, and unsubscribe at any time.
  </p>
  <div class='mt-6 flex gap-4'>
    <input
      type='email'
      placeholder='Email address'
      aria-label='Email address'
      required=''
      class='input-base flex-auto min-w-0 sm:text-sm focus-ring'
    />
    <button class='btn-sm btn-primary focus-ring' type='submit'>Join</button>
  </div>
</form>
