---
import { getCollection } from 'astro:content'

let menu = await getCollection('menu')
menu = menu.sort((a, b) => a.data.order - b.data.order)
---

<footer class="mt-32">
  <div class="sm:px-8">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
              <div
                class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200"
              >
                {
                  menu.map((item) => (
                    <a
                      class="transition hover:text-teal-500 dark:hover:text-teal-400"
                      href={item.data.link}
                    >
                      {item.data.title}
                    </a>
                  ))
                }
              </div>
              <p class="text-sm text-zinc-400 dark:text-zinc-500">
                © {new Date().getFullYear().toString()} Chris Tham. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
