---
import { getCollection } from 'astro:content'
import Container from './container.astro'

let pages = await getCollection('page')
pages = pages.sort((a, b) => a.data.order - b.data.order)

const year = new Date().getFullYear()
---

<footer class='mt-32 flex-none'>
  <Container fullWidth={true}>
    <div class='pb-16 pt-10 border-t border-border dark:border-border/40'>
      <div class='flex flex-col gap-6 items-center justify-between md:flex-row'>
        <div class='text-sm text-primary font-medium flex flex-wrap gap-x-6 gap-y-1'>
          {
            pages.map((item) => (
              <a class='hover-accent' href={`/${item.id}`}>
                {item.data.shorttitle}
              </a>
            ))
          }
        </div>
        <p class='text-sm text-secondary'>
          &copy; {year} Chris Tham. All rights reserved.
        </p>
      </div>
    </div>
  </Container>
</footer>
