---
import { Image } from 'astro:assets'
import Avatar from '../assets/me/avatar.jpg'
import Navbar from './navbar.astro'
import Theme from './theme.astro'
import Container from './container.astro'
---

<header class='pointer-events-none relative z-50 flex flex-col h-16'>
  <div class='pt-6 top-0'>
    <Container fullWidth={true}>
      <div class='flex gap-4 relative'>
        <div class='flex flex-1'>
          <div
            class='p-0.5 rounded-full bg-sugarSwizzle/90 h-10 w-10 ring-1 ring-opalGray/20 shadow-md backdrop-blur dark:bg-blackBeauty/90 dark:ring-opalGray/20'
          >
            <a aria-label='Home' class='pointer-events-auto' href='/'
              ><Image
                src={Avatar}
                alt='Avatar'
                width={128}
                loading='eager'
                class='rounded-full bg-sugarSwizzle h-9 w-9 object-cover dark:bg-blackBeauty'
              /></a
            >
          </div>
        </div>
        <Navbar />
        <Theme />
      </div>
    </Container>
  </div>
</header>
