---
import { Image } from 'astro:assets'
import Avatar from '../assets/me/avatar.jpg'
import Navbar from './navbar.astro'
import Theme from './theme.astro'

const pagestyle =
  '--header-position: sticky; --header-height: 64px; --header-mb: 0px; --avatar-image-transform: translate3d(0rem, 0, 0) scale(1); --avatar-border-transform: translate3d(-0.2222222222222222rem, 0, 0) scale(1.7777777777777777); --avatar-border-opacity: 0; --header-top: 0px; --avatar-top: 0px; '
---

<header
  x-data="{ isOpen: false }"
  class="pointer-events-none relative z-50 flex flex-col"
  style={pagestyle + 'height:var(--header-height);margin-bottom:var(--header-mb)'}
>
  <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
    <div
      class="top-[var(--header-top)] w-full sm:px-8"
      style="position:var(--header-inner-position)"
    >
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="relative flex gap-4">
              <div class="flex flex-1">
                <div
                  class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10"
                >
                  <a aria-label="Home" class="pointer-events-auto" href="/"
                    ><Image
                      src={Avatar}
                      alt="Avatar"
                      width={128}
                      class="h-9 w-9 rounded-full bg-zinc-100 object-cover dark:bg-zinc-800"
                    /></a
                  >
                </div>
              </div>
              <Navbar />
              <Theme />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
