---
import { Image } from 'astro:assets'
import Avatar from '../assets/me/avatar.jpg'
import Navbar from './navbar.astro'
import Theme from './theme.astro'
import Container from './container.astro'
---

<header class='flex flex-col h-16 pointer-events-none relative z-50'>
  <div class='pt-6 top-0'>
    <Container fullWidth={true}>
      <div class='flex gap-4 relative'>
        <div class='flex flex-1'>
          <div class='p-0.5 rounded-full glass h-10 w-10'>
            <a aria-label='Home' class='pointer-events-auto' href='/'>
              <Image
                src={Avatar}
                alt='Avatar'
                width={128}
                height={128}
                loading='eager'
                class='rounded-full surface h-9 w-9 object-cover'
              /></a
            >
          </div>
        </div>
        <Navbar />
        <Theme />
      </div>
    </Container>
  </div>
</header>
