---
import NavMenu from './navmenu.astro'
---

<div x-data="{ isOpen: false }" class="flex flex-1 justify-end md:justify-center">
  <div class="pointer-events-auto md:hidden">
    <button
      class="group dark:hover:purple-200 flex items-center rounded-full bg-white/90 px-4 py-2 text-sm text-zinc-800 font-medium shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 hover:text-purple-600 dark:ring-white/10 dark:hover:ring-white/20"
      type="button"
      x-on:click="isOpen = !isOpen"
      aria-expanded="false"
    >
      Menu
      <span class="i-heroicons-chevron-down ml-3 h-4 w-4"></span>
    </button>
  </div>
  <div
    x-show="isOpen"
    x-cloak
    x-transition:enter="transition ease-out duration-100 transform"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75 transform"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="pointer-events-auto absolute inset-x-0 top-12 z-50"
    id="mobile-menu"
  >
    <NavMenu />
  </div>
  <nav class="pointer-events-auto hidden md:block">
    <NavMenu />
  </nav>
</div>
