---
import { getCollection } from 'astro:content'

let menu = await getCollection('menu')
menu = menu.sort((a, b) => a.data.order - b.data.order)
const current = Astro.url.pathname
---

<ul
  class='text-base text-zinc-800 mx-2 px-3 rounded-full bg-white/90 flex gap-x-2 ring-1 ring-zinc-900/5 shadow-lg shadow-zinc-800/5 justify-center backdrop-blur dark:text-zinc-200 dark:bg-zinc-800/90 dark:ring-white/10'
>
  {
    menu.map((item) => (
      <li>
        <a
          class:list={[
            'relative block px-3 py-2 transition',
            current == item.data.link
              ? 'text-purple-500 dark:text-purple-400'
              : 'hover:text-purple-500 dark:hover:text-purple-400'
          ]}
          href={item.data.link}
        >
          {item.data.title}
          {current == item.data.link && (
            <span class='h-px inset-x-1 absolute from-purple-500/0 to-purple-500/0 via-purple-500/40 bg-gradient-to-r -bottom-px dark:from-purple-400/0 dark:to-purple-400/0 dark:via-purple-400/40' />
          )}
        </a>
      </li>
    ))
  }
</ul>
