---
import { getCollection } from 'astro:content'

let menu = await getCollection('menu')
menu = menu.sort((a, b) => a.data.order - b.data.order)
const current = Astro.url.pathname
---

<ul
  class='text-base text-blackBeauty mx-2 px-3 rounded-full bg-sugarSwizzle/90 flex gap-x-2 ring-1 ring-opalGray/20 shadow-md justify-center backdrop-blur dark:text-sugarSwizzle dark:bg-blackBeauty/90 dark:ring-opalGray/20'
>
  {
    menu.map((item) => (
      <li>
        <a
          class:list={[
            'relative block px-3 py-2 transition-colors duration-200',
            current == item.data.link ? 'text-morningGlory' : 'hover:text-morningGlory'
          ]}
          href={item.data.link}
        >
          {item.data.title}
          {current == item.data.link && (
            <span class='h-px inset-x-1 absolute from-morningGlory/0 to-morningGlory/0 via-morningGlory/40 bg-gradient-to-r -bottom-px' />
          )}
        </a>
      </li>
    ))
  }
</ul>
