---
const { frontmatter } = Astro.props
---

<header class='max-w-2xl'>
  <h1 class='text-4xl text-morningGlory tracking-tight font-bold font-serif sm:text-5xl'>
    {frontmatter.title}
  </h1>
  <p class='text-xl text-morningGlory mt-6 italic'>
    {frontmatter.description}
  </p>
  <div class='mt-6 max-w-none prose dark:prose-invert'>
    <slot />
  </div>
</header>
