---

---

<div class="flex justify-end md:flex-1" x-data="{ themeOpen: false }">
  <div class="pointer-events-auto">
    <button
      type="button"
      x-on:click="themeOpen = !themeOpen"
      aria-label="Toggle dark mode"
      class="group rounded-full bg-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20"
      ><svg
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-hidden="true"
        class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-purple-50 [@media(prefers-color-scheme:dark)]:stroke-purple-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-purple-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-purple-600"
        ><path
          d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"
        ></path><path
          d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061"
          fill="none"></path></svg
      ><svg
        viewBox="0 0 24 24"
        aria-hidden="true"
        class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-purple-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-purple-500"
        ><path
          d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path></svg
      ></button
    >
  </div>
  <ul
    x-show="themeOpen"
    x-cloak
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform opacity-0 scale-95"
    x-transition:enter-end="transform opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 scale-100"
    x-transition:leave-end="transform opacity-0 scale-95"
    class="pointer-events-auto absolute top-10 z-20 mt-1 max-h-56 w-60 overflow-auto rounded-lg rounded-md bg-white/90 px-3 py-1 text-base font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
    tabindex="-1"
    role="listbox"
    aria-labelledby="listbox-label"
    aria-activedescendant="listbox-option-3"
  >
    <li
      class="relative cursor-default select-none py-2 pl-2 pr-4 hover:text-purple-500 dark:hover:text-purple-400"
      id="listbox-option-0"
      role="option"
      x-on:click="localStorage.removeItem('theme'); window.location.reload()"
    >
      <div
        class="flex items-center"
        x-bind:class="localStorage.theme ? 'font-normal' : 'font-semibold text-purple-500'"
      >
        <span class="i-heroicons-star h-6 w-6"></span>
        <span class="ml-1 block truncate">Auto</span>
      </div>
      <span
        x-show="!localStorage.theme"
        class="text-green absolute inset-y-0 right-0 flex items-center pr-4"
      >
        <span class="i-heroicons-check h-5 w-5"></span>
        <span class="sr-only">(selected)</span>
      </span>
    </li>
    <li
      class="relative cursor-default select-none py-2 pl-2 pr-4 hover:text-purple-500 dark:hover:text-purple-400"
      id="listbox-option-0"
      role="option"
      x-on:click="localStorage.theme = 'light'; window.location.reload()"
    >
      <div class="flex items-center">
        <span class="i-heroicons-sun h-6 w-6"></span>
        <span
          class="ml-1 block truncate"
          x-bind:class="localStorage.theme == 'light' ? 'font-semibold text-purple-500' : 'font-normal'"
          >Light</span
        >
      </div>
      <span
        x-show="localStorage.theme == 'light'"
        class="text-green absolute inset-y-0 right-0 flex items-center pr-4"
      >
        <span class="i-heroicons-check h-5 w-5"></span>
        <span class="sr-only">(selected)</span>
      </span>
    </li>
    <li
      class="relative cursor-default select-none py-2 pl-2 pr-4 hover:text-purple-500 dark:hover:text-purple-400"
      id="listbox-option-0"
      role="option"
      x-on:click="localStorage.theme = 'dark'; window.location.reload()"
    >
      <div class="flex items-center">
        <span class="i-heroicons-moon-solid h-6 w-6"></span>
        <span
          class="ml-1 block truncate"
          x-bind:class="localStorage.theme == 'dark' ? 'font-semibold text-purple-500' : 'font-normal'"
          >Dark</span
        >
      </div>
      <span
        x-show="localStorage.theme == 'dark'"
        class="text-green absolute inset-y-0 right-0 flex items-center pr-4"
      >
        <span class="i-heroicons-check h-5 w-5"></span>
        <span class="sr-only">(selected)</span>
      </span>
    </li>
  </ul>
</div>
